	/* Basic styling */
	html, body {
		margin: 0 auto;
		padding: 0 auto;
		/*background-image: url(../img/bg-loop.jpg), url(../img/bottom-loop.jpg);*/
		background-position: top center, bottom center;
		background-repeat: repeat-x, repeat-x;
		font-family: tahoma;
		line-height: 1.4;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		font-style: italic;
		font-family: Georgia, serif;
	}

	.image-banner-big img{
		width: 785px;
		height: 415px;
	}
	.map {
		width:100%;
		height:500px;	
	}


	.map-wrap {
		position:relative; 
	}
		
	.overlay {
		width:100%;
		min-height:500px; 
		position:absolute; 
		top:0;
	}

	.paging { margin-bottom: 10px;}
	.paging a {
		text-decoration: none;
		color: #333;
		font-size: 14px;
		margin-right: 10px;

	}

	.paging a:hover {
		text-decoration: underline;
	}

	.paging a.selected {
		color: red;
		font-weight: bold;
	}

	.meta {
		margin: 0 0 40px 0;
		font-size: 0.8em;
	}

	/* End Basic styling */



	.w1000{
		width: 1000px;
	}

	.w650{
		width: 650px;
	}

	.w300{
		width: 300px;
	}


	.fl{
		float: left;
	}
	
	.fr{
		float: right;
	}

	.cf{
		clear: both;
	}

	form {
            width:300px;
            text-align: right;
	}

	.search {
            padding:15px;
            background:rgba(50, 50, 50, 0.2);
            border:0px solid #dbdbdb;
	}
	
	.button {
            position:relative;
            padding:6px 10px;
            left:-15px;

            color:#fafafa;
	}

	.header-part{
		/*width: 1000px;*/
		width: 100%;
	}

	.avepack {
		margin-top: 30px; margin-left:20px;	
	}

	.ecogreen{
		margin-left: 50px;
	}

	.contact-us-header{
		color: #fff;
		text-align: right;
		padding: 10px 0;
		font-size: 14px;
		line-height: 22px;
	}


	.contact-us-header span {
		font-size: 16px;
	}


	input{
		padding: 10px;
		margin-top: 12px;
		border-radius: 3px;
		border: none;

	}

	.bg-header{
		
	
		background: rgba(100,164,16,1);
		background: -moz-linear-gradient(top, rgba(100,164,16,1) 0%, rgba(61,141,0,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(100,164,16,1)), color-stop(100%, rgba(61,141,0,1)));
		background: -webkit-linear-gradient(top, rgba(100,164,16,1) 0%, rgba(61,141,0,1) 100%);
		background: -o-linear-gradient(top, rgba(100,164,16,1) 0%, rgba(61,141,0,1) 100%);
		background: -ms-linear-gradient(top, rgba(100,164,16,1) 0%, rgba(61,141,0,1) 100%);
		background: linear-gradient(to bottom, rgba(100,164,16,1) 0%, rgba(61,141,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64a410', endColorstr='#3d8d00', GradientType=0 );
	}

	.bg-menu{
		height: 60px;
		background: rgba(230,123,0,1);
		background: -moz-linear-gradient(top, rgba(230,123,0,1) 0%, rgba(224,97,0,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230,123,0,1)), color-stop(100%, rgba(224,97,0,1)));
		background: -webkit-linear-gradient(top, rgba(230,123,0,1) 0%, rgba(224,97,0,1) 100%);
		background: -o-linear-gradient(top, rgba(230,123,0,1) 0%, rgba(224,97,0,1) 100%);
		background: -ms-linear-gradient(top, rgba(230,123,0,1) 0%, rgba(224,97,0,1) 100%);
		background: linear-gradient(to bottom, rgba(230,123,0,1) 0%, rgba(224,97,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67b00', endColorstr='#e06100', GradientType=0 );
	}

	.menu-kanan { width: 250px;}

	.menu{
		width: 750px;
	}

	.menu a{
		font-size: 1em;
		text-decoration: none;
		/*font-weight: bold;*/
		color: #fff;
		padding: 12px 30px;
		font-family: helvetica;
		float: left;
		line-height: 17px;
	}

	.menu a span{
		font-size: 0.75em;
		font-weight: normal;
		font-style: italic;
		opacity: 0.7;
	}

	.menu a:hover{
		background-color: #cc240a;
	}

	.menu a.active{
		background-color: #cc240a;			
	}

	.menu-product{
		padding: 10px 20px 9px 20px;
		font-size: 14px;
		border-bottom: solid 2px #666;
	}

	.menu-product a{
		text-decoration: none;
		color: #999;
		padding: 10px 20px;
		border-right: solid 1px #cdcdcd;
		border-left: solid 1px #cdcdcd;						
		border-top: solid 1px #cdcdcd;
		background-color: #f9f9f9;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		margin: 0 1px;
			
	}

	.menu-product a:hover{
		color: white;
		border-right: solid 1px #cc240a;
		border-left: solid 1px #cc240a;						
		border-top: solid 1px #cc240a;
		border-bottom: solid 2px #333;	
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
			
		background-color: #cc240a;	

	}
	.menu-product a.active{
		border-right: solid 1px #666;
		border-left: solid 1px #666;						
		border-top: solid 1px #666;
		border-bottom: solid 2px #fff;	
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		color: #666;	
		background-color: #fff;		
	}

	.leftpartlarge{
		width: 780px;
		margin-right: 10px;	
		text-align: left;		
	}

	.leftpart{
		width: 140px;
		margin-right: 10px;	
		text-align: left;		
	}

	.leftpart2{
		width: 260px;
		font-size: 13px;
		text-transform: uppercase;
		color: green;
	}

	.leftpart2 span{
		
		font-size: 16px;
		text-transform: uppercase;
		color: green;
	}

	

	.leftpart span{
		font-size: 11px;
		color: #cc240a;
		display: block;
		width: 80px;
		background-color: white;
		float: left;
		
	}


	.leftpart ul {
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 13px;
	}

	.leftpart ul li{
		border-bottom: dotted 1px #cdcdcd;
		padding: 5px 0;
	}

	.leftpart ul li a{
		text-decoration: none;
		color: #333;
	}

	.leftpart ul li a:hover{
		text-decoration: none;
		color: #cc240a;
	}

	.rightpart{
		width: 200px;
		margin-left: 10px;
	}

	.rightpart img{
		margin-bottom: 5px;
	}

	.slider{
		width: 640px;
		
	}

	.middlepart{
		width: 450px;
		margin-left: 20px;
	}

	.middlepart p{
		font-size: 14px;
		line-height: 20px;
		text-align: left;
		margin-bottom: 0;
	}

	.middlepart form{
		width: 450px;
	}

	.middlepart input,textarea{
		width:100%;
		padding: 10px;
		border-radius: 5px;
		border: solid 1px #cdcdcd;
		margin-top: 5px;
	}

	.middlepart button{
		padding: 5px 10px;
		font-size: 1.2em;
		margin-top: 20px;
		border-radius: 5px;
		float: left;
	}

	.pagetitle{
		position: absolute; 
		z-index:999; 
		background-color:green; 
		padding:10px; 
		color:white; 
		top: 550px; 

	}

	.white-content{
		background-color: white;	
	}

	.pd20{
		padding: 20px 0;
	}

	.white-content h2{
		font-size: 28px;
		color: #cc240a;
		font-family: helvetica;
		font-style: normal;
		font-weight: bold;
	}

	.thumb-product-index{
		width: 232px;
		padding: 5px;
		border: solid 1px #cdcdcd;
		margin-top: 10px;
		min-height: 360px
		
	}

	.galeri-index{
		width: 250;
		
	}

	.h200{
		height: 200px;
	}

	.mr8{
		margin-right: 8px;
	}

	.mr45{
		margin-right: 45px;
	}

	.mr70{
		margin-right: 70px;
	}

	.mt3{
		margin-top: 3px;
	}

	.mt5{
		margin-top: 5px;
	}

	.bg-footer{
		background-color: #427301; 
		border-bottom: solid 10px #e67d00;
	}

	.footer{
		color: white;
		padding: 30px 0;
		font-size: 14px;
	}

	.border-footer{
		border-bottom: solid 1px #2fe00b;
	}

	.footer h3 a{
		color:green;
		background-color: white;
		font-style: normal;
		text-decoration: none;
		font-family: helvetica;
		font-size: 14px;
		padding: 10px 20px;
		border-radius: 3px;
	}

	.footer h3 a:hover{
		color:white;
		background-color: #223d09;
	}


	.footer h3{
		margin-top: 30px;
	}

	.footer p{
		width: 240px;
	}

	.share{
		color: #fff;
		width: 620px;
		font-size: 12px;
		text-align: left;	
		margin-left: 360px; 
		border-top: solid 1px #68c710;
		padding-top: 10px;

	}

	.share img{
		margin-left: 10px;
	}

	.benefit p{
		font-size: 14px;
		width: 260px;
		color: #333;
		margin-bottom: 30px;
	}

	.product-def{
		width: 230px;
		color: #333;
		margin: 0 0 10px 10px;
	}

	.product-def table{
		border-top: solid 1px #cdcdcd;
		border-left: solid 1px #cdcdcd;
		font-size: 13px;

	}

	.product-def table td{
		border-bottom: solid 1px #cdcdcd;			
		border-right: solid 1px #cdcdcd;
		padding: 5px;

	}

	.product-def h2{
		color:#333;
		font-size: 18px;
		margin: 10px 0 0 0;
	}

	.product-def p{
		font-size: 13px;
		margin: 0 0 10px 0;
	}

	.hot{
		color: white;
		background-color: red;
		font-size: 13px;
		padding: 5px 10px;
		border-radius: 3px;
	}

	/* Styles the thumbnail */

	a.lightbox img {
	height: 250px;
	float:left;

	}

	/* Styles the lightbox, removes it from sight and adds the fade-in transition */

	.lightbox-target {
	position: fixed;
	top: -100%;
	width: 100%;
	background: rgba(0,0,0,.7);
	width: 100%;
	opacity: 0;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	overflow: hidden;
	}

	/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

	.lightbox-target img {
	margin: auto;
	position: absolute;
	width: 400px;
	height: 400px;
	top: 0;
	left:0;
	right:0;
	bottom: 0;
	max-height: 0%;
	max-width: 0%;
	border: 10px solid white;
	background: #f6f6f6;
	box-shadow: 0px 0px 8px rgba(0,0,0,.3);
	box-sizing: border-box;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	}

	/* Styles the close link, adds the slide down transition */

	a.lightbox-close {
	display: block;
	width:50px;
	height:50px;
	box-sizing: border-box;
	background: white;
	color: black;
	text-decoration: none;
	position: absolute;
	top: -80px;
	right: 0;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	}

	/* Provides part of the "X" to eliminate an image from the close link */

	a.lightbox-close:before {
	content: "";
	display: block;
	height: 30px;
	width: 1px;
	background: black;
	position: absolute;
	left: 26px;
	top:10px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
	}

	/* Provides part of the "X" to eliminate an image from the close link */

	a.lightbox-close:after {
	content: "";
	display: block;
	height: 30px;
	width: 1px;
	background: black;
	position: absolute;
	left: 26px;
	top:10px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
	}

	/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

	.lightbox-target:target {
	opacity: 1;
	top: 0;
	bottom: 0;
	}

	.lightbox-target:target img {
	max-height: 100%;
	max-width: 100%;
	}

	.lightbox-target:target a.lightbox-close {
	top: 0px;
	}




	/* Smartphones (portrait and landscape) ----------- */
	@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 480px) {
	/* Styles */




	}

	/* Smartphones (landscape) ----------- */
	@media only screen 
	and (min-width : 321px) {
	/* Styles */
	}

	/* Smartphones (portrait) ----------- */
	@media only screen 
	and (max-width : 320px) {
	/* Styles */
	}

	/* iPads (portrait and landscape) ----------- */
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) {
	/* Styles */
	}

	/* iPads (landscape) ----------- */
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape) {
	/* Styles */
	}

	/* iPads (portrait) ----------- */
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait) {


	/* Styles */

	}

	/* Desktops and laptops ----------- */
	@media only screen 
	and (min-width : 1224px) {
	/* Styles */
	}

	/* Large screens ----------- */
	@media only screen 
	and (min-width : 1824px) {
	/* Styles */
	}

	/* iPhone 4 ----------- */
	@media
	only screen and (-webkit-min-device-pixel-ratio : 1.5),
	only screen and (min-device-pixel-ratio : 1.5) {
	/* Styles */
	}

	.list-news {
	}

	.list-news ul {
		display:block;
	}

	.list-news ul li {
		display:block;
		list-style:none;
		text-align:left;
		border-bottom:1px solid #000;
		padding:10px;
	}

	.list-news ul li a,.news-comp h1 {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		color:#000;
		text-decoration:none;
		font-family:'helvetica',arial;
		font-style:normal;
	}

	.news-comp h1 {
		margin:0;
		line-height:1.3;
	}

	.news-comp p {
		margin:0;
	}

	.news-image {
		margin-right:10px;
	}

	.news-comp-detail { 
		width: 800px;
	}

	.news-comp-detail h1 {
		/*margin:0;*/
		line-height:1.3;
	}

	.news-comp-detail p {
		margin:1;
		word-wrap: break-word;
	}

	.news-image-detail img {
		margin-right:10px;
		width:800px;
	}

	.news-content {
		float:left;
		word-wrap: break-word;
	}

	/*we need to style the popup with CSS so it is placed as a popup does*/
	#popup {
	    display:none;
	    position:absolute;
	    margin:0 auto;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    box-shadow: 0px 0px 50px 2px #000;
	}

	.bg-header-ti{
		top:0;
		left: 0;
		background: white;
		width:auto;
		height: auto;
		margin-bottom: -6px !important;
		margin: 0 auto;
		/*position: relative;*/
	}

	.bg-header-ti img{
		max-width: 100%;
    	/*max-height: 100%;*/
	}

	.close-top:before {
	  	content: '✕';
	}

	.close-top {
	  	position: absolute;
	  	top: 0;
	  	right: 0;
	  	cursor: pointer;
	  	background: white;
	  	font-size: 50px;
	}

	.close-popup:before {
	  	content: '✕';
	}

	.close-popup {
	  	position: absolute;
	  	top: 0;
	  	right: 0;
	  	cursor: pointer;
	  	background: white;
	  	font-size: large;
	}		