.news-banner-slider {
  width: 100%; }
  .news-banner-slider ul li a {
    display: block; }
  .news-banner-slider ol.flex-control-nav {
    bottom: 0; }

.flexslider-news {
  position: relative; }
  .flexslider-news .flex-direction-nav a {
    top: 50%;
    width: 15px;
    height: 15px;
    padding: 10px; }
  .flexslider-news .flex-direction-nav a.flex-next {
    background: url("../img/klasement-next.png") center no-repeat; }
  .flexslider-news .flex-direction-nav a.flex-prev {
    background: url("../img/klasement-prev.png") center no-repeat; }
  .flexslider-news .flex-direction-nav a:before {
    content: "" !important; }

.content-news {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 15px; }
  .content-news .news-right {
    width: 300px; }
    .content-news .news-right .ads-item {
      width: 300px;
      height: 250px;
      background: #00aeef;
      margin-bottom: 15px; }
  .content-news .news-left {
    width: 68%;
    box-sizing: border-box; }
    .content-news .news-left .news-left-wrapper {
      background: #fff; }
    .content-news .news-left .news-wrapper {
      padding: 15px; }
    .content-news .news-left .news-header p {
      font-size: 13px;
      margin: 0; }
    .content-news .news-left .news-header h1 {
      font-size: 24px;
      font-weight: bold;
      margin: 5px 0; }
    .content-news .news-left .news-header ul {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start; }
      .content-news .news-left .news-header ul li {
        font-size: 11px;
        display: flex;
        align-items: center;
        margin-right: 10px;
        border-right: 1px solid #ccc;
        padding-right: 10px; }
        .content-news .news-left .news-header ul li img {
          width: 15px;
          margin-right: 5px; }
      .content-news .news-left .news-header ul li:last-child {
        border: none; }
    .content-news .news-left .news-detail-image img {
      width: 100%; }
    .content-news .news-left .news-detail-image p {
      font-size: 12px;
      font-style: italic;
      padding: 5px 15px;
      color: #a1a1a1;
      font-weight: light;
      margin: 0; }
    .content-news .news-left .news-stories p {
      font-size: 15px;
      line-height: 1.5;
      margin: 15px 0; }
  .content-news .other-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px; }
    .content-news .other-news .berita-lainnya {
      width: 49%; }
      .content-news .other-news .berita-lainnya ul li {
        background: #fff;
        border-bottom: 1px solid #ccc; }
        .content-news .other-news .berita-lainnya ul li a {
          display: flex;
          align-items: flex-start;
          box-sizing: border-box;
          padding: 10px;
          align-items: center; }
          .content-news .other-news .berita-lainnya ul li a img {
            margin-right: 10px; }
          .content-news .other-news .berita-lainnya ul li a h1 {
            font-size: 14px;
            font-weight: 700;
            margin: none; }
    .content-news .other-news .related {
      width: 49%; }
      .content-news .other-news .related ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .content-news .other-news .related ul li {
          width: 48.5%;
          margin-bottom: 15px; }
          .content-news .other-news .related ul li a h1 {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            display: flex;
            flex-wrap: nowrap;
            background: #fff;
            padding: 10px 5px;
            text-transform: capitalize;
            justify-content: space-between; }
            .content-news .other-news .related ul li a h1 img {
              width: 15px; }

@media only screen and (max-width: 699px) {
  .content-news {
    flex-wrap: wrap; }
    .content-news .news-left {
      width: 100%; }
      .content-news .news-left .other-news .berita-lainnya, .content-news .news-left .other-news .related {
        width: 100%;
        margin-bottom: 25px; }
    .content-news .news-right {
      text-align: center;
      margin: 0 auto; } }

/*# sourceMappingURL=detail.css.map */
